.item{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 8px 20px;
    padding: 8px 20px;
}

.item-information{
    display: flex;
    width: 85%;
}

.item-title{
    width: 20%;
    font-size: .9vw;
}

.item-description{
    width: 80%;
    font-size: .9vw;
}

.item-options{
    display: flex;
    justify-content: space-around;
    width: 10%;
    font-size: .9vw;
}

.item p{
    color: white;
}

.item-delete, .item-check{
    width: 1vw;
    display: flex;
    cursor: pointer;
}

.delete-icon, .check-icon{
    width: 100%;
}