.add-button{
    width: 50%;
    height: 3vw;
    border-radius: 10px;
    cursor: pointer;
    background-color: #9d4edd;
    color: white;
    font-weight: bold;
    font-size: 1vw;
}

.add-button:hover{
    background-color: green;
}