.add-button{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #9d4edd;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.add-button:hover{
    background-color: green;
}