.item{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 8px 20px;
    padding: 8px 20px;
}

.item-information{
    display: flex;
    width: 85%;
    background-color: aqua;
}

.item-title{
    background-color: blue;
    width: 20%;
    font-size: .9vw;
}

.item-description{
    background-color: goldenrod;
    width: 80%;
    font-size: .9vw;
}

.item-options{
    background-color: red;
    display: flex;
    justify-content: space-around;
    width: 10%;
    font-size: .9vw;
}

.item p{
    color: white;
}