.list {
    height: 80%;
    overflow-y: scroll;
}

.list::-webkit-scrollbar {
    width: var(--width, 1vw);
    background: #333;
    border-radius: 100px;
  }
  
  .list::-webkit-scrollbar-track {
    background: #444;
    border-radius: 100px;
  }
  
  .list::-webkit-scrollbar-thumb {
    background: yellowgreen;
    border-radius: 100px;
  }
  
  .list::-webkit-scrollbar-thumb:hover { background: lawngreen; }
  .list::-webkit-scrollbar-thumb:active { background: deeppink; }

.list-header{
    display: flex;
    justify-content: space-between;
    margin: 8px 20px;
    padding: 8px 32px;
    font-size: .9vw;
}

.header-information{
    display: flex;
    width: 85%;
}

.header-title{
    width: 20%;
}

.list-header p{
    font-weight: bold;
    color: white;
}