.addDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 16vh;
}

.addDescription-label{
    font-size: 1vw;
    font-weight: 700;
}

.addDescription-textarea{
    width: 17vw;
    height: 8vh;
    font-size: 1vw;
    outline: none;
    padding: 8px 8px;
    resize: none;
    overflow: hidden;
}

.addDescription-p{
    font-size: 1vw;
    text-align: right;
}