.list{
  height: 80%;
}

.list-u {
  height: 90%;
  overflow-y: scroll;
}

.list-u::-webkit-scrollbar {
  width: var(--width, 1vw);
  background: #333;
  border-radius: 100px;
}

.list-u::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);;
  border-radius: 100px;
}

.list-u::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 100px;
}

.list-u::-webkit-scrollbar-thumb:hover { background: lawngreen; }
.list-u::-webkit-scrollbar-thumb:active { background: deeppink; }

.list-header{
  display: flex;
  justify-content: space-between;
  margin: 8px 20px;
  padding: 8px 32px;
  font-size: .9vw;
}

.header-information{
  display: flex;
  width: 85%;
}

.header-title{
  width: 20%;
}

.list p{
  font-weight: bold;
  color: white;
}