.TodoSearch{
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1vw;
    font-weight: bold;
    color: white;
}

.TodoSearch[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1; 
}